* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #47474754;
}
.header h1 {
  margin-bottom: 15px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

#column-1 {
  background-color: #ffae00;
}
#column-2 {
  background-color: #003cff;
}
#column-3 {
  background-color: #ff0000;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f2f2f254;
}
